<h3>Add new time log</h3>
<form action="/logs" method="POST">
  <label>Date: <input type="date" name="date" required></label>
  <label>Start Time: <input type="time" name="start_time" required></label>
  <label>End Time: <input type="time" name="end_time" required></label>
  <input type="submit" value="submit" />
</form>