<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome!</h2>

    <div class="content">
      <p>Timesheet is an application that is capable of holding start and end times for users that have an account. To get started create an account in the nav above, if you already have one log in!</p>
    </div>
  </div>
</div>
